
.liveBets-Daily-Container{
    width: 1335px;
height: 600px;

margin-left: auto;
margin-right: auto;

border-radius: 10px;
background: var(--second-new, #202124);
}

.rank-user-pool-volume-profit-header{
display: flex;
flex-direction: row;
justify-content: space-between;
 background-color:  #333538; 
padding: 10px;
font-size: 20px;
border-radius: 10px;
margin-left: 35px;
margin-right: 35px;

}


.contribution-liveBets-daily{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
text-align: center;
    font-size: 20px;
    
}

.contribution-text{
margin-left: 45px;
display: flex;
width: 131.514px;
padding: 14px 32px;

justify-content: center;
align-items: center;
gap: 10px;
border-radius: 2px;
background: #323439;
color: #FFFFFF;


}

.daily{
    margin-right: 45px;
    display: flex;
width: 105px;
padding: 14px 32px;

justify-content: center;
align-items: center;
gap: 10px;
border-radius: 2px;
background: #323439;
color: #FFFFFF;
    

    
}

.liveBets{
    color: #FFFFFF;
    margin-right: 790px;
    margin-top: 10px;
}

